.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  background-color: white;
  color: black;
  padding: 1rem;
}

.td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.imageCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}